
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

<<<<<<< HEAD
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
=======
 @layer components {
    .tax {
      @apply text-sm font-medium
    }
    .taxPrice{
        @apply font-extralight
    }
  } 
   
>>>>>>> 51a958567b6e7eac65d0c0f8e474ceaa6adab97b
